:root {
    /* --primary-color: rgba(50, 49, 48, 0.7); */
    --primary-color: #323130;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    /* background-color: red; */
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    width: 100%;
    min-width: 320px;
    font-size: 1.6rem;
    /* background-color: papayawhip; */
    background-color: #323130;
    color: white;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* ============================================= */
/* ==================== HEADER ================= */
/* ============================================= */

.header {
    background-color: black;
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    order: -1;
    width: 30px;
    height: 30px;
}
.header__logo img {
    width: 100%;
}

.header__title {
    font-size: 2rem;
}

.header__perfil {
    width: 30px;
    height: 30px;
}
.header__perfil a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('https://s4.gifyu.com/images/user-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* ============================================= */
/* ==================== MAIN ================= */
/* ============================================= */
main > section {
    background-color: #323130;
}

.blog-landing {
    width: 100%;
    min-width: 320px;
    position: relative;
    /* background-color: rgba(0, 0, 0, 0.6); */
    background: linear-gradient(180deg, black 10%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.4) 100%);
}

.blog-landing > div {
    border: 2px solid red;
    width: 100%;
    max-width: 800px;
    /* min-height: 100%; */
    min-height: calc(100vh - 50px);
    margin: 0px auto;
    padding: 30px;
}

.landing__title {
    font-size: 3.6rem;
    text-align: center;
    margin-bottom: 50px;
}

.landing__background {
    overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
}
.landing__background img {
    /* width: 100%; */
    height: 100%;
}


.landing__parrafo {
    text-align: center;
    font-size: 1.8rem;
    padding-bottom: 50px;
}

.list-botones-options {
    /* width: 100%; */
}
.list-botones-options li {
    padding-bottom: 10px;
}
.list-botones-options li a{
    color: white;
    display: block;
    text-align: center;
    font-size: 2rem;
    /* border: 1px solid red; */
    border-radius: 10px;
    padding: 1.5rem 1rem;
    /* background-color: rgba(0, 0, 0, 0.7); */
    background-color: rgba(50, 49, 48, 0.7);
    /* background-color: #323130; */
    /* outline: none; */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.list-botones-options li a:hover {
    background-color: black;
}
.list-botones-options li a:active {
    background-color: red;
}

/* =============================================== */

picture:not(.landing__background) {
    /* display: none; */
}

.main-section {
    width: 100%;
    min-width: 320px;
    position: relative;
    /* background-color: black; */
    background: linear-gradient(180deg, rgba(0,0,0,0.3) 20%, rgba(0,0,0,0.1) 100%);
}
.main-section > div {
    /* border: 2px solid blue; */
    width: 100%;
    max-width: 800px;
    min-height: 100vh;
    margin: 0px auto;
    padding: 30px;
}

.section-background {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.section-background img {
    height: 100%;
    /* width: 100%; */
}

.main-section h2 {
    text-align: center;
    font-size: 3.2rem;
    margin-bottom: 50px;
}

.section__working-now {
    background-color: black;
}

/* ========================================= */
/* ========================================= */

.carousel-content {
    /* background-color: aqua; */
    /* border: 2px solid aqua; */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: stretch; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 20px;
}

/* ========================================= */

.carousel-item {
    /* border: 1px solid black; */
    width: 100%;
    /* max-width: 200px; */
    /* margin: 15px 0px; */
    overflow: hidden;
    background-color: rgba(50, 50, 50, 0.7);
    border-radius: 10px;
}

.carousel-item > a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    /* max-width: 400px; */
    min-height: 100%;
    /* overflow: hidden; */
}

.card__img-content {
    /* background-color: black; */
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card__img-content img {
    position: relative;
    /* width: 100%; */
    height: 100%;
    /* height: 150%; */
}

/* ========================================= */

.card-detail {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-detail__header {
    color: white;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.card-detail__info {
    color: rgb(160, 155, 155);
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.card-detail__footer {
    color: white;
}
.card-detail__footer button {
    width: 100%;
    display: block;
    padding: 10px;
    /* margin-top: 10px; */
    border: 0;
    border-radius: 10px;
    color: white;
    background-color: rgba(17, 16, 16, 0.9);
}

/* ============================================= */
/* ============================================= */

@media (min-width: 340px) {
    .card__img-content {

    }
    .card__img-content img {
        width: 100%;
        height: auto;
        /* height: 150%; */
    }
}

@media (min-width: 430px) {
    .carousel-item {
        /* max-width: 200px; */
    }
    .carousel-item > a {
        /* max-width: 200px; */
    }
    .card__img-content img {
        /* width: auto; */
        /* height: 100%; */
    }
}

@media (min-width: 500px) {
    .card__img-content img {
        width: 150%;
        height: auto;
    }
}

@media (min-width: 600px) {
    .card__img-content img {
        /* height: 100%; */
    }
}

@media (min-width: 800px) {
    .landing__background img{
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
    .section-background img {
        width: 150%;
        height: auto;
        position: absolute;
        top: 0px;
        left: 0px;
    }
}

@media (min-width: 1200px) {
    body {

    }
    .landing__background {

    }
}