@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);

:root {
    --color-primary: #009EE3;
    --color-secundary: #fff;
    --color-background-1: #202020;
    --color-background-2: #181818;
    --font-color-1: #fff;
    --header-nav-height: 60px;
    --landing-background-height: 400px;
}

* {
    box-sizing: border-box;
    /* margin: 0; */
    /* padding: 0; */
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    width: 100%;
    min-width: 320px;
    font-size: 1.6rem;
    background-color: papayawhip;
    color: var(--font-color-1);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    margin: 0px;
}

.btn-link-1 {
    display: inline-block;
    border: 2px solid var(--color-primary);
    padding: 8px 20px;
    font-size: 1.4rem;
    /* font-weight: 700; */
    border-radius: 0.5rem;
    background-color: var(--color-primary);
    color: var(--font-color-1);

    transition: all 0.3s;
}

.btn-link-1:hover {
    border: 2px solid var(--color-secundary);
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.5);
}

.btn-link-2 {
    display: inline-block;
    border: 2px solid var(--color-secundary);
    padding: 8px 20px;
    font-size: 1.4rem;
    /* font-weight: 700; */
    border-radius: 0.5rem;
    background-color: var(--color-secundary);
    color: var(--color-primary);

    transition: all 0.3s;
}

.btn-link-2:hover {
    border: 2px solid var(--color-primary);
    box-shadow: 3px 3px 5px rgba(0, 158, 227, 0.8);
}

/* ===================================================== */
/* ===================================================== */
/* ===================================================== */
/* ==================== HEADER ========================= */

.nav-header {
    width: 100%;
    background-color: var(--color-background-1);
}

.nav-header>div {
    width: 100%;
    max-width: 1366px;
    margin: 0px auto;
    position: relative;
    /* border: 1px solid red; */
}

.nav-header__logo {
    height: var(--header-nav-height);
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
}

.nav-header__logo h1 {
    margin: 0px;
    padding-left: 20px;
    font-size: 2.4rem;
    color: var(--color-secundary);
}

.nav-header-menu {
    width: 100%;
    position: relative;
}

/* ===================================================== */

.nav-header-menu__wrapper {
    width: 100%;
    min-height: var(--header-nav-height);
    padding-right: 20px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    /* border: 1px solid red; */
}

.nav-header-menu__links a {
    margin-left: 10px;
    padding: 5px 10px;
}



#nav-header-menu-trigger-burger {
    width: 25px;
    height: 25px;
    margin-left: 12px;
    position: relative;
}

#nav-header-menu-trigger-burger:hover {
    cursor: pointer;
}

#nav-header-menu-trigger-burger::before {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    top: 3px;
    background-color: white;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

#nav-header-menu-trigger-burger i {
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    -webkit-transform: translate(0px, -50%);
    -moz-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    -o-transform: translate(0px, -50%);
    background-color: white;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

#nav-header-menu-trigger-burger::after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    top: calc(100% - 5px);
    background-color: white;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

#nav-header-menu__switch:checked~* #nav-header-menu-trigger-burger::before {
    opacity: 0;
}

#nav-header-menu__switch:checked~* #nav-header-menu-trigger-burger i {
    width: 120%;
    top: 50%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

#nav-header-menu__switch:checked~* #nav-header-menu-trigger-burger::after {
    width: 120%;
    top: 50%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

/* ===================================================== */

#menu_nav_desplegable {
    display: none;

    animation-name: nav-menu-ocultar;
    animation-duration: 1s;
}

#menu_nav_desplegable ul {
    padding: 0px;
    margin: 0;
    padding-bottom: 20px;
}

#menu_nav_desplegable ul li {}

#menu_nav_desplegable ul li a {
    display: block;
    padding: 20px 40px;
    color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#menu_nav_desplegable ul li a:hover {
    background-color: var(--color-primary);
}

input[id="nav-header-menu__switch"]:checked~#menu_nav_desplegable {
    display: block;

    animation-name: nav-menu-espand;
    animation-duration: .6s;
    animation-fill-mode: forwards;
}

input[id="nav-header-menu__switch"]:checked~#menu_nav_desplegable a {
    color: var(--font-color-1);
}

/* ===================================================== */
/* ===================================================== */
/* ===================================================== */
/* ====================== MAIN ========================= */

main {
    width: 100%;
}

.main-container {
    width: 100%;
}

.main-sections-container {
    width: 100%;
}

.main-sections-container>div {
    width: 100%;
    min-height: 200px;
    margin: 0 auto;
    border: 5px solid red;
    overflow: hidden;
}

/* ===================================================== */
/* ===================================================== */
/* ===================================================== */
/* ===================== LANDING ======================= */

.landing-container {
    width: 100%;
    position: relative;
}

.landing__background {
    width: 100%;
    height: var(--landing-background-height);
    padding: 0;
    margin: 0;
    position: absolute;
}

.landing__background>picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.landing__content {
    width: 100%;
    height: var(--landing-background-height);
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid rgba(0, 0, 0, 0); */
}

.landing__content h2 {
    width: 100%;
    text-transform: uppercase;
    margin: 0px;
    padding: 30px 0px;
    padding-top: 30px;
    font-size: 2.8rem;
    text-align: center;
    background: linear-gradient(180deg, rgba(32, 32, 32, 0.8) 5%, rgba(32, 32, 32, 0.1) 100%);
    /* background-color: rgba(0, 0, 0, 0.8); */
}

.landing__content>ul {
    width: 100%;
    padding: 20px 0px;
    margin: 0px;
    text-align: center;
    background: linear-gradient(0deg, rgba(32, 32, 32, 0.8) 5%, rgba(32, 32, 32, 0.3) 100%);
    /* background-color: rgba(0, 0, 0, 0.8); */
}

/* ===================================================== */
/* ===================================================== */
/* ===================================================== */
/* ===================================================== */
/* ===================================================== */

#contenido-universidad {
    /* background-image: url('https://images.pexels.com/photos/12064/pexels-photo-12064.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    background-color: var(--color-background-2);
}

#contenido-universidad>div {
    max-width: 100%;
    border: 0px;
    padding: 50px 0px;
}

.contenido-universidad-title {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 20px 0px;
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 2.8rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.uni-profesiones-cards-container {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    margin-top: 20px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 460px));
    gap: 20px
    ;
}

/* --------------------------------------------- */

.uni-cards {
    position: relative;
    display: flex;
    color: white;
    overflow: hidden;
    /* padding: 20px; */
    /* background-color: rgba(0, 0, 0, 0.6); */
    background-color: var(--color-background-1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    /* box-shadow: 3px 0px 8px rgba(255, 255, 255, 0.4); */
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
}
.uni-cards:hover {
    box-shadow: 3px 3px 8px rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
}
/* --------------------------------------------- */
.card-img {
    width: 50%;
    height: 150px;
    margin: 0px;
    border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -ms-border-radius: 10px 0px 0px 10px;
    -o-border-radius: 10px 0px 0px 10px;
    /* border: 1px solid yellow; */
}
.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card-info {
    width: 50%;
    position: relative;
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-info > h4 {
    margin: 0px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}
.card-info > ul {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card-info > ul li {
    padding: 5px;
    /* background-color: red; */
    /* border: 1px solid white; */
    width: 50px;
    height: 30px;
}

.li-codoAcodo4 {
    font-size: 0px;
    padding: 0px;
    background-image: url('https://user-images.githubusercontent.com/83146564/137408912-013f0d0c-37d1-4dc2-a1b5-77356c1003f3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:  120% 120%;
}
.li-platzi {
    font-size: 0px;
    padding: 0px;
    background-image: url('https://scontent.faep14-3.fna.fbcdn.net/v/t1.6435-9/83017815_2775732919161888_1432113195098570752_n.png?_nc_cat=1&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGK_vVxnz0LfvPbmIMTLrSuo4wuwWgnnzyjjC7BaCefPLlAWzHrMmEjC7y_FKXLB7y2HPc8MgPA_we6cXAhvhW8&_nc_ohc=YJkJdstRoQQAX9VTCYA&_nc_ht=scontent.faep14-3.fna&oh=00_AfB-0BlEQwc95B90tMub6jCL9ALZtWNjanRwI-9NHdjbEQ&oe=637F1EBD');
    background-repeat: no-repeat;
    background-position: center;
    background-size:  contain;
}
.li-utn {
    font-size: 0px;
    padding: 0px;
    background-image: url('https://www.frba.utn.edu.ar/wp-content/uploads/2017/10/Logos-UTN.BA-cs6-fondo-blanco.png');
    /* background-image: url('https://www.frba.utn.edu.ar/wp-content/uploads/2016/08/logo-utn.ba-horizontal-e1471367724904.jpg'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size:  contain;
}
.li-DCX {
    font-size: 0px;
    padding: 0px;
    background-image: url('https://im.academy/images/corp2022/area04_DCX2022.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size:  80px 30px;
}

/* ===================================================== */
/* ===================================================== */
/* ===================================================== */
/* ===================================================== */
/* ===================================================== */

#perosnal_project {
    background-color: var(--color-background-2);
    color: var(--color-secundary);
}
#perosnal_project > div {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 0px;
}

.projects-title {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: 400;
    margin-bottom: 30px;
}

/* ===================================================== */

.carousel-horizontal-container {
    /* padding: 16px; */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    display: flex;
    overflow-x: auto;
}

.card-horizontal {
    margin-right: 15px;
    position: relative;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
}
.card-horizontal:hover {
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
    transform: translate(0px, -5px);
    -webkit-transform: translate(0px, -5px);
    -moz-transform: translate(0px, -5px);
    -ms-transform: translate(0px, -5px);
    -o-transform: translate(0px, -5px);
}

.card-horizontal__img {
    width: 200px;
    height: 260px;
    /* width: 160px;
    height: 200px; */
    margin: 0;
}
.card-horizontal__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-horizontal__info {
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.card-horizontal__info > h5 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.8rem;
}
.card-horizontal__info > p {
    font-size: 1.6rem;
}

/* ===================================================== */
/* ===================================================== */
/* ===================================================== */
/* ===================================================== */
/* ===================================================== */

@keyframes nav-menu-espand {
    0% {
        opacity: 0;
        transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -o-transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
}

/* ===================================================== */
/* ===================================================== */
/* ===================================================== */


@media only screen and (max-width:768px) {
    .main-sections-container>div {
        max-width: 320px;
    }
    #perosnal_project > div {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width:768px) {
    :root {
        --header-nav-height: 64px;
        --landing-background-height: 480px;
    }

    .main-sections-container>div {
        max-width: 768px;
    }
}

@media (min-width:1024px) {
    .main-sections-container>div {
        max-width: 864px;
    }
}

@media (min-width:1366px) {
    .main-sections-container>div {
        max-width: 1040px;
    }
}