:root {
    /* --primary-color: rgba(50, 49, 48, 0.7); */
    --primary-color1: #323130;
    --primary-color2: #072839;
    --secundary-color1: #1983AA;
    --secundary-color2: #009EE3;
    --secundary-color3: #0091FF;

    --nav-hight: 60px;
    --landing-hight: 400px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    width: 100%;
    min-width: 320px;
    font-size: 1.6rem;
    /* background-color: papayawhip; */
    background-color: #323130;
    color: white;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* ============================================= */
/* ==================== HEADER ================= */
/* ============================================= */

.nav-header {
    width: 100%;
    /* height: 60px; */
    height: var(--nav-hight);
    position: relative;
    z-index: 1;

    /* background-color: var(--primary-color2); */
    /* background-color: var(--secundary-color2); */
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-header-content {
    width: 100%;
    max-width: 1280px;
    height: 100%;
    padding: 0px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header__logo .nav-header__title {
    font-size: 2.4rem;
}

#nav-header-user-switch {}

.nav-header__options {}

/* ============================================= */
/* ==================== MAIN ================= */
/* ============================================= */

main {
    width: 100%;
    position: relative;
}

.main-container {
    width: 100%;
    /* min-width: 320px; */
}

.main-sections-content {
    width: 100%;
    margin: 0 auto;
    min-height: 200px;
    border: 1px solid red;
}

/* ============================================= */
/* ==================== Landing ==================== */

.landing {
    width: 100%;
    height: var(--landing-hight);
    position: relative;
}

.landing__background {
    width: 100%;
    height: calc(var(--landing-hight) + var(--nav-hight));
    position: absolute;
    top: calc(var(--nav-hight) * -1);
    background-color: var(--primary-color1);
    background-image: url(https://s5.gifyu.com/images/pexels-piccinng-307599-1--1920x1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.landing__content {
    width: 100%;
    max-width: 768px;
    height: 100%;
    padding-top: 30px;
    position: relative;
    text-align: center;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.landing__content h2 {
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.landing__content .list {
    font-size: 1.4rem;
    /* font-weight: 600; */
    margin-bottom: 3.6rem;
}

.landing__content .list li {
    margin-bottom: 5px;
}

/* ============================================= */
/* ============================================= */




/* ============================================= */
/* ============================================= */

@media only screen and (max-width:768px) {
    .main-sections-content {
        max-width: 320px;
    }
}

@media (min-width: 768px) {
    .main-sections-content {
        max-width: 944px;
    }
}
@media (min-width: 1024px) {
    /* Mínimo de ancho 944px */

}
@media (min-width: 1366px) {
    /* SuperTitle FontSize: 32px */
    /* Title FontSize: 28px */
    /* Info Title FontSize: 24px */
    /* Resaltar FontSize: 20px [CTA]*/
    /* Standar FontSize: 18px / 16px*/
    /* Minim FontSize: 16px [BTN] / 12px*/

    /* Fijar tamaños. Tamaños no expansivos. */

    :root {
        --nav-hight: 64px;
        --landing-hight: 480px;
    }

    .main-sections-content {
        max-width: 1040px;
    }

}
