@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url(./components/initialStyle.css);
@import url(./components/header.css);

main {
    width: 100%;
    position: relative;
}

.main-container {
    width: 100%;
}

/* ======================================================== */
/* ======================================================== */

.landing-container {
    width: 100%;
    position: relative;
}

.landing__background {
    width: 100%;
    position: relative;
    background-color: var(--color-background-2);
}

.landing__background picture {
    width: 100%;
    margin: 0;
    padding: 0;
}

.landing__background picture img {
    width: 100%;
    height: var(--landing-background-height);
    object-fit: contain;
    /* border: 1px solid red; */
}

.landing__content {
    width: 100%;
    position: absolute;
}

/* ======================================================== */
/* ======================================================== */

.main-sections-container {
    width: 100%;
}

.main-sections-container>div {
    width: 100%;
    min-height: 200px;
    margin: 0px auto;
    border: 5px solid red;
}

/* ======================================================== */
/* ======================================================== */
/* ======================================================== */
/* ======================================================== */

#linksCursos-container {
    background-color: var(--color-background-1);
}

#linksCursos-container>div {
    min-height: 0px;
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.linkCurso {
    filter: opacity(0.8);
    -webkit-filter: opacity(0.8);
}

.linkCurso:hover {
    /*border: 5px solid red;
    */
    transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    filter: opacity(1);
    -webkit-filter: opacity(1);
}

.linkCurso>figure {
    margin: 0;
}


#link_aula_virtual {
    width: 300px;
    height: 150px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#link_aula_virtual>figure>img {
    width: 260px;
    height: 120px;
}

#link_meet {
    width: 300px;
    height: 150px;
    overflow: hidden;
}

#link_meet>figure>img {
    width: 300px;
    height: 150px;
}

#link_tp_integrador {
    width: 300px;
    height: 150px;
    position: relative;
}

#link_tp_integrador>figure>img {
    width: 300px;
    height: 150px;
    filter: brightness(0.4);
    -webkit-filter: brightness(0.4);
}

#link_tp_integrador>h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

/* ======================================================== */
/* ======================================================== */
/* ======================================================== */
/* ======================================================== */

#frontEnd2022 {
    background-color: var(--color-background-1);
}

#frontEnd2022>div {
    padding: 20px 0px;
    padding-bottom: 40px;
    border: 0;
}

.frontEnd2022-title-container {
    display: flex;
    justify-content: space-between;
}

.frontEnd2022-title__title {
    font-size: 2.8rem;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
}

.frontEnd2022-title__logo {
    align-self: center;
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/YouTube_full-color_icon_%282017%29.svg/1200px-YouTube_full-color_icon_%282017%29.svg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.btn-link-2.link-download {
    display: block;
    text-align: center;
    margin-top: 40px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

/* ======================================================== */
/* ======================================================== */

.temario-container {
    width: 100%;
    padding-top: 20px;
}

/* --------------------------------------------- */
.temario-content {
    width: 100%;
    border-bottom: 2px solid white;
}

/* --------------------------------------------- */
.temario-content__header {
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

.temario-content__header:hover {
    background-color: var(--color-primary);
}

.temario-content__header>h3 {
    font-size: 1.8rem;
}

.temario-content__main {
    display: none;
    border: 3px solid var(--color-primary);
    background-color: rgba(255, 255, 255, 0.2);
}

.temario-content__footer {
    display: none;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    background-color: var(--color-primary);
}

.temario-content__footer span {
    display: block;
    font-size: 3rem;
}

/* --------------------------------------------- */
.section-unidad {
    padding: 5px;
    margin-top: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.section-unidad__title {
    padding: 10px 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.section-unidad__info {
    margin-top: 10px;
    padding-bottom: 10px;
}

.section-unidad__info>ul {
    padding-left: 10px;
}

.section-unidad__info>div {
    background-color: black;
}

.section-unidad__info .btn-link-1,
.section-unidad__info .btn-link-2 {
    display: block;
    text-align: center;
    padding: 16px 20px;
    margin-bottom: 2px;
    font-size: 1.6rem;
    font-weight: 700;
    /* border-bottom: 2px solid black; */
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.section-unidad__info .btn-link-2:hover {
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.9);
}

/* ======================================================== */
input[id="check_FE_1HTML"]:checked~* label[for="check_FE_1HTML"] {
    background-color: var(--color-primary);
}

input[id="check_FE_1HTML"]:checked~* label[for="check_FE_1HTML"]~.temario-content__main {
    display: block;
}

input[id="check_FE_1HTML"]:checked~* label[for="check_FE_1HTML"]~.temario-content__footer {
    display: block;
}

/* ---------------------------------------------------------- */
input[id="check_FE_2CSS"]:checked~* label[for="check_FE_2CSS"] {
    background-color: var(--color-primary);
}

input[id="check_FE_2CSS"]:checked~* label[for="check_FE_2CSS"]~.temario-content__main {
    display: block;
}

input[id="check_FE_2CSS"]:checked~* label[for="check_FE_2CSS"]~.temario-content__footer {
    display: block;
}

/* ---------------------------------------------------------- */
input[id="check_FE_3Boostrap"]:checked~* label[for="check_FE_3Boostrap"] {
    background-color: var(--color-primary);
}

input[id="check_FE_3Boostrap"]:checked~* label[for="check_FE_3Boostrap"]~.temario-content__main {
    display: block;
}

input[id="check_FE_3Boostrap"]:checked~* label[for="check_FE_3Boostrap"]~.temario-content__footer {
    display: block;
}

/* ---------------------------------------------------------- */
input[id="check_FE_4Git"]:checked~* label[for="check_FE_4Git"] {
    background-color: var(--color-primary);
}

input[id="check_FE_4Git"]:checked~* label[for="check_FE_4Git"]~.temario-content__main {
    display: block;
}

input[id="check_FE_4Git"]:checked~* label[for="check_FE_4Git"]~.temario-content__footer {
    display: block;
}

/* ---------------------------------------------------------- */
input[id="check_FE_5Arquitectura"]:checked~* label[for="check_FE_5Arquitectura"] {
    background-color: var(--color-primary);
}

input[id="check_FE_5Arquitectura"]:checked~* label[for="check_FE_5Arquitectura"]~.temario-content__main {
    display: block;
}

input[id="check_FE_5Arquitectura"]:checked~* label[for="check_FE_5Arquitectura"]~.temario-content__footer {
    display: block;
}

/* ---------------------------------------------------------- */
input[id="check_FE_6Scrum"]:checked~* label[for="check_FE_6Scrum"] {
    background-color: var(--color-primary);
}

input[id="check_FE_6Scrum"]:checked~* label[for="check_FE_6Scrum"]~.temario-content__main {
    display: block;
}

input[id="check_FE_6Scrum"]:checked~* label[for="check_FE_6Scrum"]~.temario-content__footer {
    display: block;
}

/* ---------------------------------------------------------- */
input[id="check_FE_7JavaScript"]:checked~* label[for="check_FE_7JavaScript"] {
    background-color: var(--color-primary);
}

input[id="check_FE_7JavaScript"]:checked~* label[for="check_FE_7JavaScript"]~.temario-content__main {
    display: block;
}

input[id="check_FE_7JavaScript"]:checked~* label[for="check_FE_7JavaScript"]~.temario-content__footer {
    display: block;
}


/* ======================================================== */
/* ======================================================== */
/* ======================================================== */
/* ======================================================== */

#backEnd2022 {
    background-color: var(--color-background-2);
}

#backEnd2022>div {
    padding: 20px 0px;
    padding-bottom: 40px;
    border: 0;
}

.backEnd2022-title-container {
    display: flex;
    justify-content: space-between;
}

.backEnd2022-title__title {
    font-size: 2.8rem;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
}

.backEnd2022-title__logo {
    display: block;
}

.menu-backEnd {
    padding: 20px 20px;
    padding-left: 0px;
    display: flex;
    background-color: var(--color-background-1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.menu-backEnd > label {
    padding: 16px 20px;
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    /* background-color: black; */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.menu-backEnd > label:hover {
    cursor: pointer;
    /* background-color: rgba(255, 255, 255, 0.2); */
    background-color: black;
    /* opacity: 0.8; */
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
/* ---------------------------------------------------- */

.backEnd20222-temario {
    margin-top: 20px;
    background-color: var(--color-background-1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* ---------------------------------------------------- */

.card-container {
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,300px));
    gap: 20px;
    justify-content: center;
}

.card {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    opacity: 0.9;
}
.card:hover {
    /*cursor: pointer;
    */opacity: 1;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.card:hover .enlaces {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.card-img-contain {
    margin: 0;
    padding: 0;
    position: relative;
}
.card-img-contain > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card-img-contain > .enlaces {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
}
.card-img-contain > .enlaces > a {
    display: block;
    padding: 12px 5px;
    text-align: center;
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
.card-img-contain > .enlaces > a:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.card-info-contain {
    padding: 16px 20px 0px;
}
.card-title {
    font-size: 2.1rem;
}
.card-info {
    font-size: 1.5rem;
}
.card-info > ul {
    padding-left: 20px;
}
.card-info > ul > li {
    padding: 1px 0px;
}


/* ======================================================== */
/* ======================================================== */

input[id="check_BE_1DB"]:checked ~ * label[for="check_BE_1DB"] {
    background-color: var(--color-primary);
}
input[id="check_BE_2Java"]:checked ~ * label[for="check_BE_2Java"] {
    background-color: var(--color-primary);
}

.menu-display {
    display: none;
    /* opacity: 0.1; */
}

input[id="check_BE_1DB"]:checked ~ * #display_BE_1DB {
    display: block;
}
input[id="check_BE_2Java"]:checked ~ * #display_BE_2Java {
    display: block;
}

/* ======================================================== */
/* ======================================================== */
/* ======================================================== */
/* ======================================================== */


@media only screen and (max-width:768px) {
    .main-sections-container>div {
        max-width: 320px;
    }
}

@media (min-width:768px) {
    :root {
        --landing-background-height: 480px;
    }

    .main-sections-container>div {
        max-width: 768px;
    }
}

@media (min-width:1024px) {
    .main-sections-container>div {
        max-width: 864px;
    }
}

@media (min-width:1366px) {
    .main-sections-container>div {
        max-width: 1040px;
    }
}