:root {
    --nav-header-height: 60px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    width: 100%;
    min-width: 320px;
    font-size: 1.6rem;
    background-color: #323130;
    color: white;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */

.nav-header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-header-content {
    width: 100%;
    max-width: 1280px;
    position: relative;
    padding: 0px 20px;
    margin: 0 auto;
}

.nav-header__logo {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.nav-header__logo h1 {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 600;
    color: white;
}

.nav-header-menu {
    width: 100%;
}

#nav-header-menu__switch {
    display: none;
}
#nav-header-menu__switch:checked ~ .nav-header-menu__wrapper .nav-header-menu-trigger-burger {
    border-radius: 20px;
}

.nav-header-menu__wrapper {
    width: 100%;
    min-height: var(--nav-header-height);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-header-menu__links {
}
.nav-header-menu__links a {
    color: white;
    display: inline-block;
    margin-left: 20px;
}

.nav-header-menu-trigger-burger {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    margin-left: 20px;
    cursor: pointer;

    transition: all .5s ease;

    /* transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease;
    transition-delay: 0s; */
}


/* ======================================================== */
/* ======================================================== */
/* ======================================================== */
/* ======================================================== */

main {
    width: 100%;
    position: relative;
}

.main-container {
    width: 100%;
}

.main-sections-content {
    width: 100%;
    min-height: 100px;
    margin: 0 auto;
    padding-bottom: 30px;
    border: 1px solid red;

    overflow: hidden;
}

.main-sections-content h2 {
    margin: 20px 0px;
    margin-bottom: 20px;
}


/* ======================================================== */
/* ======================================================== */
/* ======================================================== */
/* ====================== Práctica JS - DOM =========================== */








/* ======================================================== */
/* ======================================================== */
/* ======================================================== */
/* ====================== MENU DESPLEGABLE =========================== */

.expandable {
    visibility: collapse;
    background-color: papayawhip;
    color: black;
}
input[id="desplegable-1"]:checked ~ * .expandable {
    visibility: visible;
}
.btn-action-menu {
    display: inline-block;
    padding: 6px 20px;
    margin: 20px;
    border-radius: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}
.btn-action-menu:hover {
    box-shadow: 3px 3px 5px black;
}

/* ======================================================== */
/* ======================================================== */
/* ======================================================== */
/* ===================== SLIDER1 =========================== */

.slider1 {
    width: 100%;
    height: 200px;
    /* border: 10px solid black; */
    position: relative;
}

.slider1 > input[type="radio"] {
    display: none;
}

/* ======================================================== */

.slider1-conten {
    width: 100%;
    height: 100%;
}

.slider1-card {
    width: 100%;
    height: 100%;
    position: absolute;

    transform: scale(.5,.5);
    opacity: 0;
    transition: all .3s;
}

.slider1-card-content {
    width: 100%;
    height: 100%;
}

#slider1-card__contenido-1 {
    background-color: violet;
}
#slider1-card__contenido-2 {
    background-color: green;
}
#slider1-card__contenido-3 {
    background-color: aqua;
}

/* ======================================================== */

.slider1-card .slider1-arrows {
    position: absolute;
    top: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
}
.slider1-arrows.slider1-arrow-L {
    padding-left: 5px;
}
.slider1-arrows.slider1-arrow-R {
    right: 0px;
}
.slider1-arrows svg:hover {
    background-color: rgba(0, 0, 0, 0.2);
    fill: white;
    cursor: pointer;
}
/* ======================================================== */
.slider1-blink {
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.slider1-blink ul {
    width: 50%;
    max-width: 400px;
    margin: 0 auto;
    padding: 5px 5px;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    border-radius: 50px;
}
.slider1-blink ul li {
    /* border: 1px solid white; */
}
.slider1-blink ul li label {
    width: 20px;
    height: 20px;
    display: block;
    margin: auto 0px;
    /* background-color: red; */
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;

    transition: background-color .3s;
}
.slider1-blink ul li label:hover {
    background-color: white;
}

/* ======================================================== */
/* ======================================================== */
.slider1 > input[type="radio"]:checked ~ .slider1-conten .slider1-card {
    /* Intentando Refactorizanod codigo repetido */
    /* transform: translate(0px,0px); */
    /* transition: all 1s; */
}

.slider1-card {}

#slider1-1:checked ~ .slider1-conten #slider1-card1 {
    z-index: 1;
    transform: scale(1,1);
    opacity: 1;
}
#slider1-2:checked ~ .slider1-conten #slider1-card2 {
    z-index: 1;
    transform: scale(1,1);
    opacity: 1;
}
#slider1-3:checked ~ .slider1-conten #slider1-card3 {
    z-index: 1;
    transform: scale(1,1);
    opacity: 1;
}

#slider1-1:checked ~ .slider1-blink #blink-1 {
    background-color: white;
}
#slider1-2:checked ~ .slider1-blink #blink-2 {
    background-color: white;
}
#slider1-3:checked ~ .slider1-blink #blink-3 {
    background-color: white;
}


/* ======================================================== */
/* ======================================================== */
/* ======================================================== */
/* ===================== SLIDER 0 ========================= */

.slider {
    width: 100%;
    height: 200px;
    border: 10px solid black;
    overflow: hidden;
}

.slider-content {
    width: 100%;
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.slide__background {
    width: 100%;
    height: 100%;
}

.slider-arrow {
    position: absolute;
    top: 0px;
    bottom: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-arrow:hover {
    background-color: rgba(255, 0, 0, 0.2);
}

.slider-arrow svg {
    fill: yellow;
}

.slider-arrow.arrow-L {
    padding-left: 10px;
}

.slider-arrow.arrow-R {
    right: 0px;
}

.slider-content:nth-child(1) .slide__background {
    background-color: rgb(233, 110, 110);
}
.slider-content:nth-child(2) .slide__background {
    background-color: rgb(130, 238, 191);
}
.slider-content:nth-child(3) .slide__background {
    background-color: rgb(136, 126, 247);
}


/* ======================================================== */
/* ======================================================== */
/* ======================================================== */
/* ===================== CAROUSEL v1 ========================= */

.carousel-galeria-navidad {
    /* width: 100%;
    height: 200px; */
    /* border: 5px solid rgba(255, 255, 255, 0.8); */
    padding: 16px;
    display: flex;
    overflow-x: auto;
}

.carousel-galeria-navidad .card {
    margin-right: 15px;
    position: relative;
    cursor: pointer;
}
.carousel-galeria-navidad .card:hover {
    transform: translate(0px, -5px);
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.carousel-galeria-navidad .card .card-img-container {
    width: 160px;
    height: 200px;
    background-color: red;
}
.carousel-galeria-navidad .card .card-img-container img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
}

.carousel-galeria-navidad .card .card-content {
    position: absolute;
    bottom: 0px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);

}
.carousel-galeria-navidad .card .card-content h5,
.carousel-galeria-navidad .card .card-content p {
    font-size: 1.2rem;
    color: white;
}

.carousel-galeria-navidad .card:nth-child(2) .card-img-container {
    background-color: blue;
}
.carousel-galeria-navidad .card:nth-child(3) .card-img-container {
    background-color: yellow;
}
.carousel-galeria-navidad .card:nth-child(4) .card-img-container {
    background-color: red;
}
.carousel-galeria-navidad .card:nth-child(5) .card-img-container {
    background-color: green;
}
.carousel-galeria-navidad .card:nth-child(6) .card-img-container {
    background-color: red;
}

/* ======================================================== */
/* ======================================================== */

#carousel-v1 {
    position: relative;
}


/* ======================================================== */
/* ======================================================== */
/* ======================================================== */
/* ======================================================== */

.referencias-web {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.6);
}
.referencias-web-content {
    display: flex;
    /* padding: 0px 10px; */
    flex-wrap: wrap;
}
.referencias-web a {
    margin-top: 5px;
    margin-left: 5px;
}

.btn-link {
    /* display: inline-block; */
}

/* ======================================================== */
/* ======================================================== */

.moneda {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 1px solid red;
    cursor: pointer;
}
.moneda-content {
    width: 100%;
    height: 100%;
    position: relative;
    
    transition: all 1s;
    transform-style: preserve-3d;
}
.moneda:hover .moneda-content {
    transform: rotateY(180deg);
}
.cara {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    border-radius: 50%;

    backface-visibility: hidden;
}
.cara1 {
    background-color: black;
    color: white;

}
.cara2 {
    background-color: white;
    color: black;

    transform: rotateY(180deg);
}

/* ======================================================== */
/* ======================================================== */
/* ======================================================== */
/* ======================================================== */

.eje-content {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    /* border: 1px solid yellow; */
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);
}

.input-text {
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 15px;
    font-size: 1.6rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    /* background-color: rgba(0, 0, 0, 0.3); */
    outline: none;
    border: 0px;
}
.input-text:focus {
    background-color: white;
}
.input-text::placeholder {
    /* color: #323130; */
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4);
}
.input-text:focus::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

/* ======================================================== */

.eje-consigna {
    /* text-align: justify; */
    margin-bottom: 10px;
}

/* ======================================================== */

.eje-btn-content {
    width: 100%;
    margin-top: 5px;
    display: flex;
}

.eje-btn {
    padding: 8px;
    border-radius: 5px;
    font-size: 1.4rem;
    background-color: red;
    color: white;
    border: none;
    /* outline: none; */
    cursor: pointer;
}
.eje-btn:active, .eje-btn:hover {
    box-shadow: 0px 0px 5px white;
}
.eje-btn-clic {
    flex-grow: 1;
}
.eje-btn-cl {
    min-width: 20%;
    padding: 5px 10px;
    margin-left: 10px;
}

/* ======================================================== */
.eje-resultado {
    color: yellow;
}
.eje-resultado::after {
    content: attr(data-content);
    color: yellow;
    border-top: 1px solid white;
}

/* ======================================================== */
/* ======================================================== */
/* ======================================================== */
/* ======================================================== */

@media only screen and (max-width:768px) {
    .main-sections-content {
        max-width: 320px;
    }
}

@media (min-width: 768px) {
    .main-sections-content {
        max-width: 944px;
    }
}
@media (min-width: 1024px) {
    /* Mínimo de ancho 944px */

}
@media (min-width: 1366px) {
    /* SuperTitle FontSize: 32px */
    /* Title FontSize: 28px */
    /* Info Title FontSize: 24px */
    /* Resaltar FontSize: 20px [CTA]*/
    /* Standar FontSize: 18px / 16px*/
    /* Minim FontSize: 16px [BTN] / 12px*/

    /* Fijar tamaños. Tamaños no expansivos. */

    :root {
        --nav-hight: 64px;
        --landing-hight: 480px;
    }

    .main-sections-content {
        max-width: 1040px;
    }

}
