:root {
  --color-black01: #03020A;
  --color-black02: #1A1A1A;
  --color-red: #E13C2F;
  --color-white: #FFF;
  --color-white-decore: rgba(255, 255, 255, 0.1);
  
  --header-height: 64px;

  --margin-lateral-frame: 24px;

  --size-24px: 24px;
  --size-32px: 32px;
  --size-64px: 64px;

  --card-width: 128px;

  --scrollbar-height: 8px;
  --scrollbar-color: #262626;
  --scrollbar-margin-top: 16px;

  --shadow-lateral-cards-width: 80px;

  /* --details-section-bg-mobile-height: 480px; */
  --details-section-bg-mobile-height: calc(70vh - var(--header-height)*2);
  --shadow-details-height-top-bottom: 160px;

  --max-width-area-work: 1280px

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", serif;
  /* font-family: "Bebas Neue", serif; */
  color: var(--color-white);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  position: relative;
  background-color: var(--color-black01);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.main-contain-section {
  background: linear-gradient(to bottom, var(--color-black01), var(--color-black02));
  padding-bottom: 48px;
}

/* ================================ */
/* Material */
.btn {
  opacity: 0.9;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  outline: none;
  transition: background-color 250ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  transition: transform 150ms ease-in-out;
}
.btn__bg-container {
  display: block;
  width: 100%;
  height: 100%;
}
.btn-size-16 {
  width: 16px;
  height: 16px;
}
.btn-size-24 {
  width: 24px;
  height: 24px;
}
.btn-size-32 {
  width: 32px;
  height: 32px;
}
.btn__bg {
  display: block;
  width: 100%;
  height: 100%;
  fill: var(--color-white);
  background-color: rgba(0, 0, 0, 0);
}

.btn:hover {
  opacity: 1;
}
.btn:active {
  transform: scale(1.1);
}

.btn--state-1 .btn__bg:nth-child(1) {
  display: block;
}
.btn--state-1 .btn__bg:nth-child(2) {
  display: none;
}
.btn--state-2 .btn__bg:nth-child(1) {
  display: none;
}
.btn--state-2 .btn__bg:nth-child(2) {
  display: block;
}

.btn--state-1.btn-change .btn__bg:nth-child(1) {
  display: none;
}
.btn--state-1.btn-change .btn__bg:nth-child(2) {
  display: block;
}
.btn--state-2.btn-change .btn__bg:nth-child(1) {
  display: block;
}
.btn--state-2.btn-change .btn__bg:nth-child(2) {
  display: none;
}


.btn--icon {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  border-radius: 8px;
}
.btn--icon .btn__title {
  font-size: 1.125rem;
}
.btn__icon-container {
  display: block;
}
.btn__icon {
  display: block;
  width: 100%;
  height: 100%;
}


.btn-text {
  padding: 6px 8px;
  border-radius: 8px;
}
.btn-text .btn__title {
  font-size: 0.875rem;
}

.bg-color-gray {
  background-color: #333333;
}
.bg-color-red {
  background-color: var(--color-red);
}


.btn--go-back .btn__title {
  display: none;
}


/* ================================ */
/* ================================ */
/* [HEADER]================================ */
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid var(--color-white-decore);
  position: relative;
  background-color: var(--color-black01);
}

.header__container {
  width: 100%;
  height: var(--header-height);
  padding: 0px var(--margin-lateral-frame);
  display: grid;
  grid-template-columns: auto 1fr;
  place-content: center;
}

.header__title {
  font-family: "Bebas Neue", serif;
  color: var(--color-red);
  font-size: 2rem;
  /* line-height: 2rem; */
  font-weight: 500;
}

.header__contain {
  justify-self: end;
  display: flex;
  align-items: center;
}

/* .header__btn-menu {} */

.header__nav {
  position: absolute;
  left: -100%;
  top: 100%;
  padding: 0px var(--margin-lateral-frame);
  width: 100%;
  height: calc(100vh - var(--header-height));

  display: flex;
  flex-direction: column;
  border-top: 2px solid var(--color-white-decore);

  transition: transform 250ms ease-in-out;
  /* background-color: var(--color-black01); */
  background-color: rgba(0, 0, 0, 0.9);

  z-index: 1000;
}
.menu-effect-in {
  transform: translateX(100%);
}

.header__nav-option {
  border-bottom: 2px solid var(--color-white-decore);
}

.header__nav-option > a {
  display: block;
  /* padding: 12px 0px; */
  padding: 12px 20px;
  font-size: 1.25rem;
  cursor: pointer;

  transition: background-color 200ms ease-in-out;
  color: rgba(255, 255, 255, 0.6);
}

.header__nav-option > a:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.search {
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.24);
  margin-top: 24px;
  margin-bottom: 24px;

  display: flex;

  
}
.search:focus-within {
  border: 2px solid rgba(255, 255, 255, 0.8);
}
.search__input {
  padding: 14px 20px;
  width: auto;
  min-width: 0px;
  flex-grow: 1;
  /* justify-self: stretch; */
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: var(--color-white);
  font-size: 1.25rem;
}
.search__btn {
  /* margin-right: 20px; */
  width: 50px;
  padding: 8px;
  /* height: var(--size-32px); */
  align-self: stretch;
  flex-shrink: 0;
}
.search__btn svg {
  fill: rgba(255, 255, 255, 0.2);
}
.search__btn:active svg {
  fill: white;
}

/* ================================ */
/* ================================ */
/* ================================ */
/* HERO SECTION */

.hero {
  position: relative;
  background-color: var(--color-black01);
}

.hero__container {
  width: 100%;
}

.hero__img-container {
  display: block;
  width: 100%;
  height: 320px;
  position: relative;
}
.hero__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: center center; */
}
.hero__img-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 10%, transparent);
}

/* ================================ */
.hero__overlay {
  position: relative;
  top: -32px;
  width: 100%;
  max-width: 288px;
  margin: 0 auto;
  display: flex;

  flex-direction: column;
  gap: 8px;
}

.subheadline {
  display: flex;
  gap: 16px;
}
.subheadline>*:nth-child(2n+1) {
  flex-grow: 1;
}
.dot-decore {
  display: flex;
  align-items: center;
}
.dot-decore > svg {
  width: 8px;
  height: 8px;
}

.rate-section {
  display: flex;
  align-items: center;
}
.rate-section__icon-container {
  display: block;
  width: 24px;
  height: 24px;
}
.rate-section__icon {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  fill: var(--color-red);
}
.rate-section__rate {
  flex-grow: 1;
  display: grid;
  place-items: end;
  font-size: 1.125rem;
}
.overlay__time-container {
  display: grid;
  place-items: center;
}
.overlay__time {
  font-size: 1.125rem;
}
.overlay__type-movie-container {
  display: grid;
  place-content: center;
}
.overlay__type-movie {
  font-size: 0.875rem;
  padding: 6px 8px;
  background-color: var(--color-red);
  border-radius: 8px;
}


.headline {
  width: 100%;
  margin-bottom: 8px;
}
.headline__title {
  font-size: 1.5rem;
  text-align: center;
}
.headline__details {
  display: none;
}


.call-to-action {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.btn--details .btn__title {
  display: none;
}


/* ================================ */
.carousel {
  padding: 0px var(--margin-lateral-frame);
  margin-top: 48px;
}

.carousel--trending {
  margin-top: 0px;
  padding-top: 16px;
}

.carousel__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.carousel__title {
  font-size: 1.75rem;
  font-weight: bold;
}
.home-section__categories .carousel__title {
  text-align: center;
}

/* .carousel__galery {
} */

.carousel__container-cards {
  display: flex;
  gap: 20px;
  overflow-x: scroll;

  -ms-overflow-style: none; /* Oculta el scrollbar en IE y Edge */
  scrollbar-width: none; /* Oculta el scrollbar en Firefox */
}
.carousel__container-cards::-webkit-scrollbar {
  display: none; /* Oculta el scrollbar por defecto de Chrome*/
}

.card {
  width: var(--card-width);
  flex-shrink: 0;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
}
.card:hover {
  transform: translateY(-4px);
}
.card__img-container {
  width: var(--card-width);
  height: auto;
}
.card__img {
  display: block;
  width: 100%;
  height: 100%;
}
.card__title {
  /* width: var(--card-width); */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: normal;
  margin-top: 8px;
}

.custom-scrollbar {
  width: 100%;
  height: var(--scrollbar-height);
  position: relative;
  background-color: var(--scrollbar-color);
  margin-top: var(--scrollbar-margin-top);
}

.custom-scrollbar-thumb {
  width: 250px;
  height: var(--scrollbar-height);
  position: relative;
  background-color: var(--color-red);
}

.viewfinder {
  position: relative;
}
.viewfinder::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1px;
  width: var(--shadow-lateral-cards-width);
  background: linear-gradient(to right, var(--color-black01), transparent);
  pointer-events: none;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  z-index: 1;
}
.viewfinder::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -2px;
  width: var(--shadow-lateral-cards-width);
  background: linear-gradient(to left, var(--color-black01), transparent);
  pointer-events: none;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  z-index: 1;
}
.shadow-left::before {
  opacity: 1;
}
.shadow-right::after {
  opacity: 1;
}

.carousel.home-section__categories {
  margin-top: 48px;
}
.home-section__categories .carousel__container-cards {
  gap: 8px;
}



/* ================================ */
/* ================================ */
/* ================================ */
/* DETAILS SECTION */

.details-hero {
  position: relative;
}

.details-hero__btn-back-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: var(--margin-lateral-frame);
}

.details-bg__mobile-container {
  display: block;
  width: 100%;
  height: var(--details-section-bg-mobile-height);
  min-height: 400px;
  max-height: 480px;
  position: relative;
}
.details-bg__mobile {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.details-bg__mobile-container::before,
.details-bg__mobile-container::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: var(--shadow-details-height-top-bottom);
}
.details-bg__mobile-container::before {
  top: 0;
  background: linear-gradient(to bottom, var(--color-black01), transparent);
}
.details-bg__mobile-container::after {
  bottom: 0;
  background: linear-gradient(to top, var(--color-black01), transparent);
}


.details-bg__desktop-container {
  position: relative;
  display: none;
  width: 100%;
  /* height: 480px; */
  height: calc(100vh - var(--header-height)*2);
  min-height: 600px;
  max-height: 760px;
}
.details-bg__desktop {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.details-bg__desktop-container::before,
.details-bg__desktop-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.details-bg__desktop-container::before {
  background: linear-gradient(to bottom, var(--color-black01), transparent 20%, transparent 80%, var(--color-black01));
}
.details-bg__desktop-container::after {
  background-color: rgba(0, 0, 0, 0.65);
  /* filter: blur(8px); */
}

/* ================================ */
.details-info__section {
  display: flex;
  position: relative;
  top: calc(var(--shadow-details-height-top-bottom)*-1/2);
  /* transform: translateY(-50%); */
}

.details-info__path-section {
  display: none;
}
.details-info__img-container {
  display: block;
  height: calc(100vh - var(--header-height)*3);
  width: auto;
}
.details-info__img {
  display: block;
  width: 100%;
  height: 100%;
}

.details-info__real-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 288px;
  margin: 0 auto;
}

.details-info__rate-area {
  display: flex;
  justify-content: space-between;
}
.details-info__rate-area .rate-section__rate {
  place-items: start;
  margin-left: 8px;
}
.details-info__rate-area .overlay__type-movie-container {
  flex-grow: 0;
}

.details-info__header-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.details-info__title {
  font-size: 1.5rem;
  font-weight: bold;
}
.details-info__description {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
}
.details-info__released {
  font-size: 1rem;
  font-weight: bold;
}
.details-info__released > span {
  font-weight: normal;
}

.details-info__cta {
  display: flex;
  justify-content: center;
}

.details-info__categories-title {
  font-size: 1.125rem;
  font-weight: bold;
}

.details-info__categories-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  padding-top: 16px;
}

.details-info__category {
  font-size: 1rem;
  padding: 8px 12px;
  border-radius: 8px;

  flex-shrink: 0;
  flex-grow: 0;
  white-space: nowrap;
}

.details-section__similar-movies {
  padding: 0px var(--margin-lateral-frame);
}
/* .details-section__similar-movies .carousel__title { */
.carousel__title {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* .details-section__similar-movies .carousel__btn-see-all { */
.carousel__btn-see-all {
  flex-shrink: 0;
}

/* ================================ */
/* ================================ */
/* ================================ */
.carousel-reusable {
  margin-top: 32px;
}
.categories-section .carousel__header {
  margin-bottom: 24px;
}

/* .categories-section__galery {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 32px;
}
.categories-section__galery > * {
  flex-shrink: 0;
} */
.categories-section__galery {
  width: 100%;
  display: grid;
  column-gap: var(--margin-lateral-frame);
  row-gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
  margin-top: 40px;
}
.categories-section__galery .card {
  width: 100%;
}
.categories-section__galery .card__img-container {
  width: 100%;
}


/* ================================ */
/* ================================ */
/* ================================ */
/* FOOTER */
.footer {
  padding: 0px var(--margin-lateral-frame);
  background-color: var(--color-black02);
  border-top: 2px solid var(--color-white-decore);

  display: flex;
  justify-content: center;
}

.footer__text {
  text-align: center;
  padding: 25px 0px;
  font-size: 1rem;
  font-weight: bold;
}

/* main > * {
  width: 100%;
  max-width: var(--max-width-area-work);
  margin: 0 auto;
} */

.delimited-area-work {
  width: 100%;
  max-width: var(--max-width-area-work);
  margin: 0 auto;
}
.details-hero__btn-back-container .delimited-area-work {
  display: flex;
  justify-content: flex-end;
}
.details-hero__btn-back-container .delimited-area-work .btn--icon {
  margin-right: var(--margin-lateral-frame);
}

.header__contain {
  gap: 16px;
}
.search-header {
  display: none;
  margin: 0;
  max-width: 264px;
}
.search-header .search__input {
  padding: 2px 20px;
}
.search-header .search__btn {
  width: 36px;
  height: 36px;
  padding: 0;
}

.btn-home-category {
  transition: background-color 200ms ease-in-out;
}
.btn-home-category:hover {
  background-color: var(--color-red);
}
/* ================================ */
/* ================================ */
/* ================================ */
/* ================================ */
/* ================================ */
/* ================================ */

.disable {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}
.visually-hidden-v2 {
  position: relative;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

.absolute {
  position: absolute;
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}



/* ================================ */
/* ================================ */
/* ================================ */
/* ================================ */
/* ================================ */
/* ================================ */

/* @media (max-width: 767px) { */
@media (max-width: 959px) {
  .hero__img-container {
    height: calc(70vh - var(--header-height)*2);
    min-height: 360px;
    max-height: 560px;
  }
}

/* ================================ */
@media (min-width: 536px) {
  .header__nav {
    width: 80%;
    left: -80%;
  }
}

@media (min-width: 720px) {
  :root {
    --margin-lateral-frame: 32px;
  }

  /* ================================ */
  /* ================================ */
  .search-header {
    display: 	flex;
  }

  .header__nav {
    padding-top: 24px;
    width: 60%;
    left: -60%;
  }

  .search-menu {
    display: none;
  }

  /* ================================ */
  /* ================================ */

  .details-bg__mobile-container {
    display: none;
  }
  .details-bg__desktop-container  {
    display: block;
    height: var(--details-section-bg-mobile-height);
  }

  /* .details-hero {} */
  .details-bg__section {
    position: relative;
  }
  .details-info__section {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    margin: 0px auto;
    justify-content: center;
    gap: var(--margin-lateral-frame);
  }
  .details-info__path-section {
    display: flex;
    align-items: center;
  }
  .details-info__img-container {
    height: calc(100% - var(--header-height));
  }

  .details-info__real-details {
    justify-content: center;
    margin: 0;
    width: 40%;
    max-width: 524px;
  }

  .details-info__rate-area {
    justify-content: flex-start;
    gap: 16px;
  }
  .details-info__header-area {
    align-items: flex-start;
  }
  .details-info__description {
    text-align: start;
  }
  .details-info__cta {
    justify-content: flex-start;
  }
  .details-info__categories-container {
    justify-content: flex-start;
  }
  .details-info__category {
    flex-grow: 0;
    flex-shrink: 0;
  }

}

@media (min-width: 960px) {
  :root {
    --card-width: 200px;

    --details-section-bg-mobile-height: calc(80vh - var(--header-height)*2);

    --margin-lateral-frame: 40px;
  }
  /* ================================ */
  .header__container {
    align-items: center;
  }

  .header__btn-menu {
    display: none;
  }
  .header__nav {
    position: relative;
    left: 0;
    top: 0;
    border-top: none;
    flex-direction: row;
    height: auto;
    padding: 0;
    width: auto;

    display: block;
  }
  .header__nav-container {
    display: flex;
    align-items: center;
    /* gap: 16px; */
  }
  .header__nav-option {
    border-bottom: none;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .header__nav-option > a {
    /* padding: 12px 0px; */
    padding: 12px 8px;
    font-size: 1.125rem;
    height: var(--header-height);
    display: grid;
    place-content: center;
    border-bottom: 2px solid transparent;
    transition: border-bottom 200ms ease-in-out;
  }
  .header__nav-option > a:hover {
    background-color: transparent;
    border-bottom: 2px solid var(--color-red);
  }
  
  .header__nav-option > a.header__nav-option--selected {
    border-bottom: 2px solid var(--color-red);
  }

  .search-header {
    order: 1;
    max-width: 220px;
  }
  /* ================================ */
  /* ================================ */
  
  .hero__container {
    position: relative;
  }
  .hero__overlay {
    position: absolute;
    margin: 0px;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    gap: 24px;
    width: 50%;
    max-width: none;
    padding-left: var(--margin-lateral-frame);
    z-index: 1;
  }
  .home-section .main-contain-section {
    margin-top: 48px;
  }

  .hero__img-container {
    height: 700px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
  }
  .hero__img-container::before {
    z-index: 1;
  }
  .hero__img-container::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 60%;
    background-color: red;
    background: linear-gradient(to right, var(--color-black01) 50%, transparent);
    /* z-index: 1; */
  }
  .hero__img {
    position: relative;
    width: 80%;
    /* object-position: center right; */

    margin-right: -10%;
  }

  .headline {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .headline__title {
    text-align: left;
    font-size: 2.5rem;
  }
  .headline__details {
    display: block;
    font-size: 1.5rem;
  }

  .subheadline {
    justify-content: flex-start;
  }
  .subheadline * {
    font-size: 1.5rem;
  }
  .subheadline>*:nth-child(2n+1) {
    flex-grow: 0;
  }
  .overlay__type-movie {
    font-size: 1.125rem;
  }

  .call-to-action {
    justify-content: flex-start;
  }

  .btn--details .btn__title {
    display: block;
  }

  /* ================================ */
  .carousel__title {
    font-size: 2.5rem;
  }
  .btn-text .btn__title {
    font-size: 1.125rem;
  }
  .btn-text {
    padding: 12px 16px;
  }

  /* ================================ */
  .carousel {
    margin-top: 64px;
  }
  .carousel.carousel--trending {
    margin-top: 0px;
  }
  .carousel.home-section__categories {
    margin-top: 64px;
  }

  /* ================================ */
  .home-section__categories .custom-scrollbar {
    display: none;
  }
  .home-section__categories .details-info__category {
    font-size: 1.125rem;
    padding: 12px 16px;
    flex-shrink: 0;
    flex-grow: 0;
  }
  .home-section__categories .carousel__container-cards {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .home-section__categories .viewfinder::before,
  .home-section__categories .viewfinder::after {
    display: none;
    
  }

  .custom-scrollbar {
    margin-top: 32px;
  }


  /* ================================ */
  /* ================================ */
  .details-info__real-details {
    gap: 24px;
  }
  .details-info__rate-area .rate-section__rate {
    font-size: 1.5rem;
  }
  .details-info__rate-area .overlay__time {
    font-size: 1.5rem;
  }
  .details-info__title {
    font-size: 2.5rem;
  }

  .details-section__similar-movies {
    margin-top: 48px;
  }

  .btn--go-back .btn__title {
    display: block;
  }
  .details-hero .btn--go-back .btn__title {
    display: none;
  }

  /* ================================ */
  /* ================================ */
  .carousel-reusable {
    margin-top: 48px;
  }
  .carousel__header {
    position: relative;
  }
  .home-section .carousel__title {
    place-content: start;
  }
  .home-section .home-section__categories .carousel__title {
    place-content: center;
  }
  .details-section .carousel__title {
    place-content: start;
  }
  .carousel__title {
    display: grid;
    place-content: center;
  }
  .carousel__header .btn--icon {
    position: absolute;
    top: 0;
    right: 0;
  }


  /* ================================ */
  /* ================================ */
  .categories-section .carousel__header {
    margin-bottom: 32px;
  }


  /* ================================ */
  /* ================================ */
  /* ================================ */
  /* ================================ */
  .footer__text {
    font-size: 1.25rem;
  }
  .details-info__description {
    font-size: 1.5rem;
  }
  .details-info__released {
    font-size: 1.125rem;
  }
  .details-info__categories-title {
    font-size: 1.5rem;
  }
  .details-info__categories-container {
    gap: 24px;
  }
  .details-info__category {
    padding: 12px 16px;
    font-size: 1.125rem;
  }

}

@media (min-width: 1030px) {
  .details-hero .btn--go-back .btn__title {
    display: block;
  }
  .btn--go-back .btn__title {
    display: block;
  }
}

@media (min-width: 1120px) {
  .header__nav-option > a {
    padding: 12px 16px;
  }
  .search-header {
    max-width: 264px;
  }
}

